@tailwind base;
@tailwind components;
@tailwind utilities;

.product-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr); /* 4 columns layout */
    padding: 16px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 1200px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
  }
  
  @media (max-width: 900px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
    }
  }
  
  @media (max-width: 600px) {
    .product-grid {
      grid-template-columns: 1fr; /* 1 column for extra small screens */
    }
  }
  
  .card {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  }
  
  .card:hover {
    transform: scale(1.05); /* Enlarge the card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  }
  
  .toast {
    position: fixed;
    top: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #eb7608;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}